<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.student.surya.studenthelp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.student.surya.studenthelp" android:value="AEdPqrEAAAAIahNS4MoNTndAplMeTVKkqPQQM8lPi-z2jlgJUg" />
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainSettingsActivity"
            android:label="@string/title_activity_main_settings" >
        </activity>
        <activity android:name=".WriteClass"
            android:label="Writing Class"></activity>
        <activity android:name=".ReadClass"
            android:label="Reading Class"></activity>
    </application>

</manifest>
